/* @import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap"); */
* {
  /* Q: what is *?   A: it's a wildcard selector. It selects all elements. */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2em 10vw;
}

:root {
    --background-color: #0F111A;
    --foreground-color: #1f2437;
    --text-color: #F7F8F8;
    --link-color: #82aaff;
    --link-visited-color: #B480D6;
}

html[data-theme='light'] {
    --background-color: #FAFAFA;
    --foreground-color: #e1e1e1;
    --text-color: #1f2437;
    --link-color: #82aaff;
    --link-visited-color: #B480D6;
    --filter: invert(12%) sepia(23%) saturate(1034%) hue-rotate(189deg) brightness(95%) contrast(93%);
}

html[data-theme='dark'] {
    --background-color: #0F111A;
    --foreground-color: #1f2437;
    --text-color: #F7F8F8;
    --link-color: #82aaff;
    --link-visited-color: #B480D6;
    --filter: invert(100%) sepia(27%) saturate(510%) hue-rotate(151deg) brightness(104%) contrast(95%);
}

html {
  font-size: 21px;
  font-family: "Didact Gothic", sans-serif;
  color: var(--text-color);
  background: var(--background-color);
}

html, body, canvas {
  height: 100%;
}

a {
  color: var(--link-color);
}

a:visited {
  /* color: var(--link-visited-color); */
  color: var(--link-visited-color);
}

.social-media-links a i.faperso {
  font-size: 1cm;
}
.social-media-links img.image {
  width: 1cm;
  height: 1cm;
  filter: var(--filter);
}

.nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  /* background-color: var(--foreground-color); */
  background-color: var(--foreground-color);
  display: block;
  /* rounded borders */
  border-radius: 0.5em;
}

.nav ul li {
  float: left;
}

.nav ul li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav ul li button {
  display: block;
  color: var(--text-color);
  background-color: var(--foreground-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav ul li button:hover {
  background-color: var(--link-color);
  /* color: white; */
}

/* Change the link color to #111 (black) on hover */
.nav ul li a:hover {
  background-color: var(--link-color);
}

.social-media-links a {
  color: var(--text-color);
}

.social-media-links a:visited {
  color: var(--text-color);
}


/* main { */
/*   max-width: 42em; */
/* } */

/* h1 { */
/*   font-weight: normal; */
/* } */
/* h1 img { */
/*   vertical-align: middle; */
/*   max-width: 3rem; */
/*   border-radius: 0.5rem; */
/* } */

/* a { */
/*   color: var(--link-color); */
/*   text-decoration: none; */
/* } */
/* a:is(:hover, :focus) { */
/*   text-decoration: underline; */
/* } */

/* h2, h3, h4, h5, h6 { */
/*   margin-top: 1em; */
/* } */

/* /1* Style the links inside the navigation bar *1/ */
/* .topnav a { */
/*   float: left; */
/*   color: #f2f2f2; */
/*   text-align: center; */
/*   padding: 14px 16px; */
/*   text-decoration: none; */
/*   font-size: 17px; */
/* } */


/* main > * + * { */
/*   /1* https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_selectors *1/ */
/*   margin-top: 1rem; */
/* } */
/* .projects { */
/*   list-style: none; */
/*   display: flex; */
/*   flex-wrap: wrap; */
/*   gap: 0.5em; */
/* } */
/* .projects a { */
/*   display: block; */
/*   padding: 0.2em 0.5em; */
/*   background: rgba(255, 255, 255, 0.031372549); */
/*   border-top: 1px solid rgba(255, 255, 255, 0.2); */
/*   border-bottom: 1px solid #000; */
/*   border-radius: 0.5em; */
/* } */
