/* @import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap"); */
* {
  /* Q: what is *?   A: it's a wildcard selector. It selects all elements. */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2em 10vw;
}

html[data-theme='light'] {
    --background-color: #FAFAFA;
    --foreground-color: #e1e1e1;
    --text-color: #1f2437;
    --link-color: #007bff;
    --link-visited-color: #B480D6;
    --filter: invert(12%) sepia(23%) saturate(1034%) hue-rotate(189deg) brightness(95%) contrast(93%);
}

html[data-theme='dark'] {
    --background-color: #0F111A;
    --foreground-color: #1f2437;
    --text-color: #F7F8F8;
    --link-color: #82aaff;
    --link-visited-color: #B480D6;
    --filter: invert(100%) sepia(27%) saturate(510%) hue-rotate(151deg) brightness(104%) contrast(95%);
}

html {
  font-size: 21px;
  font-family: "Didact Gothic", sans-serif;
  color: var(--text-color);
  background: var(--background-color);
}

html, body, canvas {
  height: 100%;
}

a {
  color: var(--link-color);
}

a:visited {
  /* color: var(--link-visited-color); */
  color: var(--link-visited-color);
}

.social-media-links a i.faperso {
  font-size: 1cm;
}
.social-media-links img.image {
  width: 1cm;
  height: 1cm;
  filter: var(--filter);
}

.nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  /* background-color: var(--foreground-color); */
  background-color: var(--background-color);
  display: block;
  /* rounded borders */
  border-radius: 0.5em;
}

.nav ul li {
  float: left;
}

.nav ul li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  /* text-decoration: none; */
}

.nav ul li button {
  display: block;
  color: var(--text-color);
  background-color: var(--background-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* .nav ul li button:hover { */
/*   background-color: var(--link-color); */
/*   /1* color: white; *1/ */
/* } */

/* Change the link color to #111 (black) on hover */
/* .nav ul li a:hover { */
/*   background-color: var(--link-color); */
/* } */

.social-media-links a {
  color: var(--text-color);
}

.social-media-links a:visited {
  color: var(--text-color);
}


/* main { */
/*   max-width: 42em; */
/* } */

/* h1 { */
/*   font-weight: normal; */
/* } */
/* h1 img { */
/*   vertical-align: middle; */
/*   max-width: 3rem; */
/*   border-radius: 0.5rem; */
/* } */

/* a { */
/*   color: var(--link-color); */
/*   text-decoration: none; */
/* } */
/* a:is(:hover, :focus) { */
/*   text-decoration: underline; */
/* } */

/* h2, h3, h4, h5, h6 { */
/*   margin-top: 1em; */
/* } */

/* /1* Style the links inside the navigation bar *1/ */
/* .topnav a { */
/*   float: left; */
/*   color: #f2f2f2; */
/*   text-align: center; */
/*   padding: 14px 16px; */
/*   text-decoration: none; */
/*   font-size: 17px; */
/* } */


/* main > * + * { */
/*   /1* https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_selectors *1/ */
/*   margin-top: 1rem; */
/* } */
/* .projects { */
/*   list-style: none; */
/*   display: flex; */
/*   flex-wrap: wrap; */
/*   gap: 0.5em; */
/* } */
/* .projects a { */
/*   display: block; */
/*   padding: 0.2em 0.5em; */
/*   background: rgba(255, 255, 255, 0.031372549); */
/*   border-top: 1px solid rgba(255, 255, 255, 0.2); */
/*   border-bottom: 1px solid #000; */
/*   border-radius: 0.5em; */
/* } */

.blog-card {
  padding: 20px; /* Add padding as needed */
  border-radius: 4px; /* Add border radius as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow as needed */
  /* width: 500px; */
}

.blog-card a {
  color: var(--text-color);
  text-decoration: none;
}

.blog-card .content a {
  color: var(--link-color);
  text-decoration: underline;
}

.blog-card .content {
  list-style-type: none;
  padding: 10;
  /* rounded borders */
  border-radius: 0.5em;
}

.blog-card .content .title {
  font-size: 20px; /* Example font size - adjust as needed */
}

.blog-card .content h3.title {
  font-size: 10px; /* Example font size - adjust as needed */
}


.blog-card .content .summary {
  font-size: 15px; /* Example font size - adjust as needed */
  margin: 10px; /* Example margin - adjust as needed */
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  /* height: 100px; */
  /* width: 500px; */
}

.blog-card .content button {
  color:var(--link-color);
  border-color:transparent;
  background-color:transparent;
  cursor: pointer;
}

.blog-card .content button:hover {
  text-decoration: underline;
}

.blog-card button {
  color:var(--link-color);
  border-color:transparent;
  background-color:transparent;
  cursor: pointer;
}

.blog-card button:hover {
  text-decoration: underline;
}

.blog-card .read-more {
  /* Blog card "Read More" link */
  font-size: 14px; /* Example font size - adjust as needed */
  color: #007bff; /* Example color - adjust as needed */
  text-decoration: none; /* Remove default underline */
  /* Add additional styles as needed */
}

.blog-card .read-more:hover {
  text-decoration: underline; /* Add underline on hover */
}

code {
  display: inline-block;
  padding: 2px 4px;
  margin: 0;
  font-family: monospace;
  font-size: 85%;
  color: var(--text-color);
  background-color: var(--foreground-color);
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

#more-jax1 {display: none;}
#more-jax2 {display: none;}
#more-jax3 {display: none;}
#more-jax4 {display: none;}

#dots-jax1 {display: inline;}
#dots-jax2 {display: inline;}
#dots-jax3 {display: inline;}
#dots-jax4 {display: none;}

#more-paper1 {display: none;}
#more-paper2 {display: none;}
#more-paper3 {display: none;}
#more-paper4 {display: none;}
#more-paper5 {display: none;}
#more-paper6 {display: none;}

#dots-paper1 {display: inline;}
#dots-paper2 {display: inline;}
#dots-paper3 {display: inline;}
#dots-paper4 {display: inline;}
#dots-paper5 {display: inline;}
#dots-paper6 {display: inline;}

#more-blog1 {display: none;}
#dots-blog1 {display: inline;}
