/* @import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap"); */
* {
  /* Q: what is *?   A: it's a wildcard selector. It selects all elements. */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top:10em;
  padding-bottom:20em;
  padding-left:20em;
  padding-right:20em;
}



/* Tablets */
@media (max-width: 1024px) {
  body {
    padding: 6em 6em 10em 6em;
  }
}

/* Phones */
@media (max-width: 768px) {
  body {
    padding: 4em 1rem 6em 1rem;
  }
}


html[data-theme='light'] {
    --background-color: #FAFAFA;
    --foreground-color: #e1e1e1;
    --text-color: #1f2437;
    --link-color: #007bff;
    --link-visited-color: #B480D6;
    --filter: invert(12%) sepia(23%) saturate(1034%) hue-rotate(189deg) brightness(95%) contrast(93%);
}

html[data-theme='dark'] {
    --background-color: #0F111A;
    --foreground-color: #1f2437;
    --text-color: #F7F8F8;
    --link-color: #82aaff;
    --link-visited-color: #B480D6;
    --filter: invert(100%) sepia(27%) saturate(510%) hue-rotate(151deg) brightness(104%) contrast(95%);
}

html {
  font-size: 21px;
  font-family: "Didact Gothic", sans-serif;
  color: var(--text-color);
  background: var(--background-color);
}

html, body, canvas {
  height: 100%;
}

a {
  color: var(--link-color);
}

a:visited {
  /* color: var(--link-visited-color); */
  color: var(--link-visited-color);
}

.social-media-links a i.faperso {
  font-size: 1rem;
  padding: 3px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  background-color: var(--background-color);
  display: block;
  border-radius: 0.5em;
  display: flex;
}

.nav ul li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
}

.nav ul li button {
  display: block;
  color: var(--text-color);
  background-color: var(--background-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.social-media-links a {
  color: var(--text-color);
}

.social-media-links a:visited {
  color: var(--text-color);
}


.blog-card {
  padding: 20px; /* Add padding as needed */
  border-radius: 4px; /* Add border radius as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow as needed */
  /* width: 500px; */
}

.blog-card .hidden {
  display: none;
}


.blog-card a {
  color: var(--text-color);
  text-decoration: none;
}

.blog-card .content a {
  color: var(--link-color);
  text-decoration: underline;
}

.blog-card .content {
  list-style-type: none;
  padding: 10;
  /* rounded borders */
  border-radius: 0.5em;
}

/* Title */
.blog-card .content h2.title {
  font-size: 1.2rem;
  line-height: 1.2;
}

/* Meta text */
.blog-card .content .meta {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}


.blog-card .content .summary {
  font-size: 1.0rem; /* Example font size - adjust as needed */
  margin: 10px; /* Example margin - adjust as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.blog-card button {
  color:var(--link-color);
  border-color:transparent;
  background-color:transparent;
  cursor: pointer;
  font-size: 0.9rem;
  display: block;
}

code {
  display: inline-block;
  padding: 2px 4px;
  margin: 0;
  font-family: monospace;
  font-size: 85%;
  color: var(--text-color);
  background-color: var(--foreground-color);
  border: 1px solid #d1d5da;
  border-radius: 3px;
}
